[buttonLabels]
; dpadUp = "Up"
; dpadDown = "Down"
dpadLeft = "Adjust Lighting"
dpadRight = "Adjust Lighting"
; leftFlipper = "Left Flipper"
; rightFlipper = "Right Flipper"
; leftNudge = "Left Nudge"
; rightNudge = "Right Nudge"
; nudge = "Nudge"
; start = "Start"
; menu = "Menu"