/external/*/*.*

!/external/*/table.ini
!/external/*/table.vbs
!/external/*/table.prt
!/external/*/launcher.png
!/external/*/launcher.cfg
!/external/*/VPReg.ini
!/external/*/nvram.nv
!/external/*/README.md

/external/*/VPinballX.ini
/external/*/gamecontrollerdb.txt
/external/*/altsound.log
/external/*/Cache
/external/*/vpinball.log
/external/*/crash.dmp
/external/*/crash.txt
/external/*/pinmame/altcolor/*
/external/*/pinmame/roms/*
VPinballX_*-alp4k
**/.DS_Store
.Trashes
**/._*
!/external/*/pinmame/roms/.gitkeep
.venv