

/external/*/VPinballX.ini
/external/*/gamecontrollerdb.txt
/external/*/altsound.log
/external/*/Cache
/external/*/vpinball.log
/external/*/crash.dmp
/external/*/crash.txt
/external/*/pinmame/altcolor/*
/external/*/pinmame/roms/*
VPinballX_*-alp4k
**/.DS_Store
.Trashes
**/._*
!/external/*/pinmame/roms/.gitkeep
.venv