[buttonLabels]
dpadUp = "Menu Select / Plunger"
; dpadDown = "Down"
dpadLeft = "Next song"
dpadRight = "Display trick progress"
; leftFlipper = "Left Flipper"
; rightFlipper = "Right Flipper"
; leftNudge = "Left Nudge"
; rightNudge = "Right Nudge"
; nudge = "Nudge"
start = "Start / Menu Select"
; menu = "Menu"